@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f2f2f2;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

.container {
  max-width: 1041px;
}
